html {
    font-size: 100%;
}

body {
    background-color: lightsteelblue;
    margin: 0;
    padding: 0;
}

main {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: whitesmoke solid 0.25px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 7.5rem;
    margin-bottom: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

h1, h2, h3 {
    color: rgb(47, 47, 180);
}

h1 {
    font-size: 3.2rem;
}

.erna-hi5 {
    background-color: whitesmoke;
    padding: 0;
}

.erna-hi5-img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    object-position: center;
}

.bli-medlem {
    text-align: center;
    padding: 0.625rem;
}

.bli-medlem:hover {
    text-decoration: underline;
    background-color: rgb(47, 47, 180);
    color: whitesmoke;
}
