body {
    background-color: lightsteelblue;
}

header {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: left;
}

header nav {
    padding: 8px;
    margin-right: 10px;
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
    justify-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: lightsteelblue;
    background-color: darkblue;
    cursor: pointer;
}

header img {
    background-color: whitesmoke;
    border: none;
}

.selected {
    background-color: darkblue;
    color: lightsteelblue;
}

main {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 120px;
}

form {
    background-color: snow;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* Denne skal være en boks med litt av det lyseblå på begge sider */
}


input[type=radio]:checked + label {
    background-color: lightblue;
    color: whitesmoke;
}

form div {
    padding: 10px;
}

article {
    padding-left: 10px;
}

h1, h2 {
    color: darkblue;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}

.erna {
    object-fit: contain;
    
}