html {
    font-size: 100%;
}

header {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.625rem;
    text-align: left;
}

header nav {
    padding: 0.5rem;
    margin-right: 0.625rem;
    color: rgb(47, 47, 180);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
    justify-items: center;
}

a {
    text-decoration: none;
    color: inherit;
    align-content: space-around
}

a:hover {
    color: rgb(87, 137, 201);
    cursor: pointer;
}

header img {
    background-color: whitesmoke;
    border: none;
}

.selected {
    color: rgb(87, 137, 201);
}

#cb {
    position: absolute;
    left: 6.25rem;
    display: none;
}

#burger {
    width: 2rem;
    height: 2rem;
    display: grid;
    grid-template-rows: 0.32rem 0.32rem 0.32rem;
    align-content: space-between;
    cursor: pointer;

    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    z-index: 2;
}

#burger div {
    background-color: rgb(47, 47, 180);
}

#meny {
    background-color: whitesmoke;
    height: 200%;
    width: fit-content;
    display: grid;
    justify-items: left;
    align-content: space-between;
    position: absolute;
    right: 100vw;
    top: 1.8rem;
    z-index: 1;
    border: solid rgb(47, 47, 180) 1px;
    border-radius: 5%;
}

#meny a {
    text-decoration: none;
    color: rgb(47, 47, 180);
    font-weight: 700;
}

#meny a:hover {
    color: rgb(87, 137, 201);
}

#cb:checked ~ #meny {
    right: 1.6rem;
    background-color: whitesmoke;
}

#cb:checked ~ #burger div:first-child {
    transform: translateY(0.875rem) rotate(45deg);
}

#cb:checked ~ #burger div:nth-child(2) {
    transform: translateX(25rem)
}

#cb:checked ~ #burger div:last-child {
    transform: translateY(-0.875rem) rotate(-45deg);
}