body {
    background-color: lightsteelblue;
}

header {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: left;
}

header nav {
    padding: 8px;
    margin-right: 10px;
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
    justify-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: lightsteelblue;
    background-color: darkblue;
    cursor: pointer;
}

header img {
    background-color: whitesmoke;
    border: none;
}

.selected {
    background-color: darkblue;
    color: lightsteelblue;
}

main {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 120px;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
    font-size: 50px;
    text-decoration: none;
}

h1:hover {
    text-decoration: underline;
}

.bilder {
    height: 500px;
    display: flex;
}

.img {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    flex: 1;
    background-size: cover;
    transition: 0.5s
}

.img:nth-child(1) {background-image: url(./img/hoyre-landsmote-1.jpg);}
.img:nth-child(2) {background-image: url(./img/hoyre-landsmote-2.jpg);}
.img:nth-child(3) {background-image: url(./img/hoyre-landsmote-3.jpg);}

.img:first-child {transform-origin: left;}
.img:last-child {transform-origin: right;}

.img:hover {
    flex: 3;
    transform: scale(1.2);
    z-index: 1;
}