header {
    background-color: blue;
    color: white;
    display: grid;
    grid-template-columns: auto;
}

header a {
    padding: 5px;
    border: white 0.5px solid;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

header img {
    background-color: whitesmoke;
}